.row h1 {
    margin-bottom: 20px;
}

#series tr {
    background-color: #f8f9fa;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.btn-primary{
    background-color: white;
    color:dodgerblue
}